*{
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0px 30px 0px 30px;
    border-radius: 50px;
}

a{
    color: black;
}

.img {
    width: 100%;
}

nav img{
    width: 10%;
}

nav{
    /* background-color: yellow; */
    background-image: linear-gradient(rgba(255, 0, 0, 0.54),white,rgba(255, 0, 0, 0.54));
    margin-top: 40px;
}

ul{
    list-style: none;
}

.navigation {
    padding: 30px 0 30px 0;
}

.navigation h1{
    font-size: 50px;
}

section{
    padding: 200px;
    /* background-color: orange; */
    /* background-image: linear-gradient(rgb(70, 49, 8),yellow,rgb(70, 49, 18)); */
    background-image: linear-gradient(rgba(255, 0, 0, 0.54),white,rgba(255, 0, 0, 0.54));
    margin-bottom: 40px;
}

section h3{
    font-size: 30px;
    margin: 20px;
}

section p{
    text-align:center ;
}

section button{
    margin: 20px;
    background-color: black;
    border-radius: 20px;
    color: whitesmoke;
    padding: 10px 60px 10px 60px;
}

hr{
    text-align: center;}

/* @media (max-width:576px) {
    nav img {
        width: 100px;
    }

    nav ul {
        font-size: 10px;
        display: flex;
    }
}

@media (max-width:786px) {
section {
    padding: 50px;
}}

@media (max-width:920px) */