*{
    padding: 0;
    margin: 0;
}

#first-sec{
    position: relative;
    height: 91.5vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    animation-name: slider;
    animation-duration: 3s;
    /* animation-delay: 5s; */
    animation-iteration-count: infinite;
    opacity: .5;
    /* z-index: -1; */
}

@keyframes slider{
    0%{
        background-image: url(assets/images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /* 5%{
        background-image: url(assets/images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    10%{
        background-image: url(assets/images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    15%{
        background-image: url(assets/images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    20%{
        background-image: url(assets/images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    } */
    25%{
        background-image: url(assets/images/bg2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    50%{
        background-image: url(assets/images/bg3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    75%{
        background-image: url(assets/images/bg4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;        
    }
    100%{
        background-image: url(assets/images/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;        
    }

}

.content{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-text{
    background-color: red;
}

.content-text h1{
    font-size: 50px;
}

#second-sec{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(231, 231, 231);
}

.about-us{
    width: 70%;
}

.about-us .icons{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.about-us .icons i{
    font-size: 40px;
}