*{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.heart{
    position: relative;
    height: 70px;
    width: 70px;
    background: red;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px red;
    animation: bounce 0.6s linear infinite;
}

@keyframes bounce{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1);
    }
    100%{
        transform: rotate(-45deg) scale(1.08);
    }
}

.heart::before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: red;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px red;

}

.heart::after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: red;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px red;
}