*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.one{
    background-image: url(./background1.jpg);
    background-size: cover;
    padding-bottom: 130px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 225, 90, 0.501);
    padding: 0 10px ;
    box-shadow: 0 1px 10px gray;

    position: sticky;
    top: 0;

    /* position: static;
    border: 3px solid #73AD21; */

    /* position: relative;
    border: 3px solid #73AD21; */

    /* position: fixed;
    top: 0;
    right: 0;
    width: 1500px;
    border: 3px solid #73AD21; */
}

.nav--img img{
    width: 110px;
}

.nav--list ul{
    display: flex;
}

.nav--list ul li{
    padding: 0 30px;
    list-style: none;
}

.nav--list a{
    text-decoration: none;
    color: black;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 75px;
}

.left--side img{
    width: 400px;
    animation: anime 3s alternate;
}

@keyframes anime {
    0%{
        transform:translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

.right--side h1{
    font-size: 50px;
    padding-bottom: .5em;
}

.right--side p{
    padding-bottom: 1em;
}

.right--side__button{
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
    /* animation: anime--two 2s alternate; */
}

/* @keyframes anime--two {
    0%{
        transform:translatex(500px);
    }
    100%{
        transform: translatex(0px);
    }
} */

.right--side__button:hover{
    background-color: black;
    color: white;
    border-color: solid white;
    cursor: pointer;
}

.right--side__button a{
    color: black;
    text-decoration: none;
}

.two{
    background-color: gray;
    padding: 150px 0;
    text-align: center;
}

.two .blocks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.two img{
    width: 150px;
}

.block--one{
    /* border: 1px outset orange; */
    box-shadow:  inset 0px 0px 20px black;
    background-color: gray;
    padding: 20px;
}

.block--two{
    /* border: 1px outset orange; */
    box-shadow:  inset 0px 0px 20px black;
    background-color: gray;
    padding: 20px;
}

.block--three{
    /* border: 1px outset orange; */
    box-shadow:  inset 0px 0px 20px black;
    background-color: gray;
    padding: 20px;
}

.not--available{
    cursor: no-drop;
}

.block--two img{
    width: 200px;

    /* padding: 0%; */
}

.two h1{
    padding-bottom: .5em;
    color: whitesmoke;
}

.two p{
    padding: .5em;
    color: rgb(203, 203, 203);
}

.two button{
    box-shadow:   0px 0px 10px black;
    color: white;
    border: none;
    background-color: transparent;
    margin-top: 1em;
    padding: 5px 20px;
    /* cursor: pointer; */
}

.two button:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: none;
}