*{
    margin: 0;
    padding: 0;
}

#first-section{
    height: 100vh;
    background-color: rgb(50, 145, 253);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 50px;
}

.logo {
    display: flex;
}

.logo i{

    filter: invert(1);
}

.navbar{
    display: flex;
}

.navbar li{
    list-style: none;
    padding-right: 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
}