::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}





 
#port {
    display: flex;
    width: 100%;
}

nav {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 10%;
    background: #191919;
    box-shadow: 2px 2px 20px black;
}

.navbar-content{
    color: #E3651D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width: 10%; */
    height: 100vh;
}

.navbar-content .logo {
    font-size: 30px;
}
nav{
    & .navbar-content{
        & .nav-btns{
            height: 250px;
            & ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                gap: 30px;
                list-style-type: none;
                & li{
                    & a{
                        font-weight: bolder;
                        text-decoration: none;
                        color: #E3651D;   
                    }
                }
            }
        }
    }
}

nav .menu ul {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav .menu ul li a {
    color: #E3651D;
    font-size: 20px;
}

aside {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 10%;
}

.slider {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #191919;
}

.home-left {
    width: 35%;
    color: #E3651D;
}

.home-left h1 {
    font-size: 40px;
}
.home-left h3{
    font-size: 30px;
    /* text-align: center; */
    /* margin: 10px 0 20px 10px; */
}

.home-left p{
    color: #eb7f41;
    margin: 20px 0 20px 0;
}
.home-left button{
    background: transparent;
    padding: 10px;
    border: 1px solid #E3651D;
    border-radius: 5px;
    & a{
        font-weight: bold;
        font-size: 30px;
    color: #E3651D;
        text-decoration: none;
    }
}
.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-image {
    background-image: url(assets/me.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    box-shadow: 2px 2px 20px black;
    animation: blob 5s infinite ease-in-out;
    transition: 1s ease-in-out;
}

@keyframes blob {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    25% {
        border-radius: 30% 60% 70% 40%/50% 70% 50% 60%;
    }

    50% {
        border-radius: 40% 70% 60% 30%/70% 50% 80% 50%;
    }

    75% {
        border-radius: 70% 50% 40% 60%/30% 70% 50% 80%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

#about {
    background: #E3651D;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container{
    width: 90%;
    height: 90vh;
}
.about-1 {
    & h1{
    font-size: 50px;
    color: #191919;
    }
    & hr{
        border: 1px solid #191919;
    }
}
.about-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-con-left{
    width: 45%;
    height: 90vh;
    background-color: red;
}
.about-con-right{
    width: 45%;
    height: 90vh;
    background-color: yellow;
}
#services {
    background: yellow;
    height: 100vh;
    width: 100%;
}

#contact {
    background: gray;
    height: 100vh;
    width: 100%;
}

#feedback {
    background: black;
    height: 100vh;
    width: 100%;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    /* background: #000; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 45%;
    left: 98%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    background-color: black;
    opacity: .7;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}
.slider-nav a.active {
    background-color: red;
}
