*{
    margin: 0;
    padding: 0;
}

.banner{

    background-size:cover;
    background-image: linear-gradient(rgba(76, 12, 12, 0.334),rgba(180, 44, 44, 0.764)),url(backgroung.jfif);
    background-position:center;
}
.banner img{
    width: 80px;
}
.navbar {
    text-align: center;
    margin: 0;
    padding: 2%;
    background-color: #8c2a2d;
    backdrop-filter: blur;
    
}

.navbar ul{
    display: flex;
    justify-content: center;
    
}

.navbar ul li{
    list-style: none;
    margin: 20px;
    padding: 5px 25px 5px 25px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.316);
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover{
    color: red;
}

.navbar ul li:hover{
    background-color: rgb(0, 0, 0);
    border: 1px outset red;
}

.content{
    padding: 120px;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;

}

.right img{
    width: 300px;
    padding: 20px;
    /* border: 2px solid white; */
    outline: 2px solid black;

}

.left button{
    display: block;
}

.content h3{
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content p{
    text-align:center;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    font-weight: bold;
}

.content button{
    margin: 15px;
    background-color:rgba(0, 0, 0, 0.462);
    width: 200px;
    height: 40px;    
    border-radius: 20px;
    border-color:rgb(225, 36, 36);
    border-width: 2;
}
.content button a{
    text-decoration: none;
    color:rgb(225, 36, 36);
    font-weight: bold;
}

.content button:hover{
    background-color: black;
    color: black;
}

/* .span{
    height: 100%;
    width: 0%;
    background: #dd9c10;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}

.span:hover{
    background-color: #dd9c10;
} */